
main{
    height: 80vh;
    margin: 50px;
}

    main div p{
        text-align: center;
        font-size: 1.3rem;
        color: #294c71;
    }

main h2{
    margin: 100px 0px 0px 100px;
    font-size: 3rem;
    color: #294c71;
}

/*Contact*/
main h3{
    font-size: 2rem;
    color: #294c71;
}

main .area{
    margin: 50px;
}
    main .area p{
        font-size: 1.5rem;
    }
    main .area i{
        font-size: 3rem;
        color: #294c71;
    }

@media (max-width: 767px){ /* Small */
    main h2{
        margin: 75px 0px 15px 0px;
        font-size: 1.5rem;
    }

    main div p{
        font-size: 0.65rem;
    }

    main h3{
        font-size: 1rem;
    }
    main{
        height: auto;
    }

    main .area{
        margin: 10px;
    }

    main .area p{
        font-size: 0.75rem;
    }

    main .area i{
        font-size: 1.5rem;
    }
}


