@media (max-width: 575.98px) { 
    #showcase{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #showcase{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #showcase{
        display: none;
    }
}

@media (min-width: 992px) {
    #showcase{
        display: none;
    }
}

main h2{
    margin: 100px 0px 0px 100px;
    font-size: 3rem;
    color: #294c71;
}

.main{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#fields{
    height: 100%;
    width: 80%;
    margin: 0 2%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
}
    #fields legend{
        font-size: 1rem;
        font-weight: 500;
        color: #294c71;
    }
    #fields label{
        font-size: 0.9rem;
        font-weight: 500;
        color: #294c71;
    }
    #fields .btn-blue{
        width: 100%;
        margin-top: 20px;
        color: azure;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 500px;
        text-transform: uppercase;
        padding: 10px 25px;
        background: #294c71;
        transition: background 0.4s, color 0,4s;
    }
    #fields .btn-blue:hover{
        background-color: azure;
        border: 1px solid #294c71;
        color: #294c71;
    }
    #fields form{
        width: 100%;
    }


main .modal-body{
    padding: 50px;
    color: #294c71;
}
    main .modal-body strong, main .modal-body p{
        display: inline-block;

    }

form .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, 
     .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
     .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, 
     .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
     .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, 
     .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, 
     .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
     .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, 
     .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
     .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
     .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, 
     .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, 
     .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

        padding-right: 2px;
        padding-left: 2px;
        margin: 2px -10px;
}


@media (max-width: 767px){ /* Small */
    main h2{
        margin: 75px 0px 0px 25px;
        font-size: 1.5rem;
    }

    .main{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #fields{
        height: auto;
        width: 95%;
        margin: 0 2%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 15px;
    }
}