html, body{
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------ Menu ------ */
header .navbar.bg-blue{
    background: #294c71e5;
}
    header .navbar ul.navbar-nav{
        width: 100%;
    }
        header .navbar ul.navbar-nav .nav-item.active{
            border-bottom: 3px solid #5196E0;
        }
        header .navbar ul.navbar-nav .nav-item:hover:not(.nav-link.active){
            border-bottom: 3px solid #5196E0;
        }
            header .navbar ul.navbar-nav .nav-item .nav-link{
                color: azure;
            }
            

/* ------ Common Elements ------ */
body .btn-custom{
    color: #294c71;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 25px;
    background: azure;
    transition: background 0.4s, color 0,4s;
}
body .btn-branco{
    border: 1px solid white;
}
body .btn-branco:hover{
    background-color: #294c71;
    color: azure;
}

/* ------ Footer ------ */
footer{
    padding: 40px 0px 80px 0px;
    background: url(/img/fundo.png) repeat-x bottom;
    background-color: #294c71;
}
    footer .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: azure;
    }
    footer .social{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: azure;
    }
        footer .social i{
            font-size: 1.8rem;
            margin-right: 5px;
        }
        footer .social i:hover{
            color: #5196E0;
        }
